@model IEnumerable<ExpenseTracker.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Transactions</h1>

<!-- Filter Form -->
<form method="get" asp-action="Index">
    <div class="form-row">
        <div class="col-md-3">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" class="form-control" 
                   value="@ViewContext.HttpContext.Request.Query["startDate"]" />
        </div>
        <div class="col-md-3">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" class="form-control" 
                   value="@ViewContext.HttpContext.Request.Query["endDate"]" />
        </div>
        <div class="col-md-3">
            <label for="categoryId">Category</label>
            <select id="categoryId" name="categoryId" class="form-control">
                <option value="">-- Select Category --</option>
                @foreach (var category in (SelectList)ViewData["Categories"])
                {
                    var selected = ViewContext.HttpContext.Request.Query["categoryId"] == category.Value ? "selected" : "";
                    <option value="@category.Value" selected="@selected">@category.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3 mt-4">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
        <br/>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Transaction List -->
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.First().Category)</th>
            <th>@Html.DisplayNameFor(model => model.First().Amount)</th>
            <th>@Html.DisplayNameFor(model => model.First().Note)</th>
            <th>@Html.DisplayNameFor(model => model.First().Date)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Category.Icon)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.Note)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>